
*{
    font-family: '微软雅黑';
    text-align: center;
}
.phone-num-wrap{
    width: 400px;
    height: 200px;
    background-color: rgba(200,100,100,0.5);
    border-radius: 30px;
    margin: 160px auto;
    padding-top: 30px;
    box-sizing: border-box;
}

.phone-num-inp{
  width: 190px;
  height: 35px;
  border: none;
  font-size: 20px;
}

.submit-phone-btn{
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(150,50,250,0.5);
}